DEBUG=True
SECRET_KEY=django-insecure-dummy-key-for-dev
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]

POSTGRES_DB=kc3hack_db
POSTGRES_USER=kc3hack_user
POSTGRES_PASSWORD=kc3hack_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET_NAME=kc3hack-bucket
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ENDPOINT_URL=http://localhost:9000

TS_AUTHKEY=tskey-auth-xxxxxx-xxxxxx
TS_HOSTNAME=kc3hack-2026-team14
